.input-wrapper {
	position: relative;
	text-align: left;
	margin-bottom: 20px;
}

.label {
	display: block;
	margin-bottom: 5px;
}

.input {
	width: 100%;
	padding: 8px;
	min-height: 40px;
	border: 1px solid #cfd7de;
	border-radius: 4px;
}

.is-invalid {
	border: 1px solid #e5281a;
}

.eye {
	border: none;
	outline: none;
	background-color: transparent;
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 12.5px 10px;
	cursor: pointer;
}

.error {
	position: absolute;
	top: 100%;
	font-size: 14px;
	color: #e5281a;
}