.header{
  font-size: 26px;
  margin-top: 80px;
}

.servicesForEveryDogAndCat{
  text-align:  center;
  margin: 0 auto;
  margin-bottom: 50px;
}
.explanationColumn{
  display: grid;
  grid-template-columns:  1fr 1fr;
  margin: 0 auto;
  max-width: 750px;
  position: relative;

}
.iconServices{
  font-size: 42px;
  color: #00bd70;
  display: block;
  position: relative;
  top: -2px;
}
.iconDiv{
  width: 40px;
  margin-right: 18px;
}
.label{
  font-size: 16px;
  font-weight: 700;
}
.description{
  font-size: 16px;
  line-height: 25.6px;
  color: #66727c;
}
.descriptionColumn{
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.descriptionBlock{
  text-align: left;
}
.descriptionRow{
  display: flex;
  padding: 18px;
  line-height: 1.6;
}
.ourSittersAdvantagesColumn{
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #cfd7de;
  border-radius: 4px;
  box-sizing: border-box;
  max-width: 350px;
  margin-left: 10px;
}
.ourSittersPanelHeader{
  padding: 20px;
  color: #1b1f23;
  background-color: #f4f5f6;
  border-color: #cfd7de;
  margin: 0 auto;
  text-align: right;
  align-items: center;
  border-radius: 4px;
  border-bottom: 1px solid #cfd7de;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.iconDivSitters{
  display: flex;
  text-align: center;
}

.sittersAdvantagesList{
  margin-left: 0;
  text-align: justify;
  margin-bottom: 70px;
}
.sittersAdvantagesList li{
  list-style-type: none;
  list-style-position: outside;
  padding:  20px;
  line-height: 1.6;
  font-size: 16px;
}

.sittersAdvantagesList li:before {
    font-family: 'FontAwesome';
    content: '\f00c';
    color: #00bd70;
    margin:0 5px 0 -20px;
    font-size: 20px;
}

.bookYourNextSitter{
  display: block;
  width: 95%;
  background: #14a96d;
  border-color: #14a96d;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 10px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid;
  padding: 8px 15px;
  font-size: 14px;
  line-height: 1.6;
  border-radius: 4px;

}
.bookYourNextSitter:hover{
  background-color: #11925e;
    border-color: #11925e;
}


@media (max-width: 768px) and (min-width: 300px){
  .header{
    margin-top: 0px;
    font-size: 20px;
  }

  .description{
    font-size: 12px;
    line-height: 20px;
  }
  .iconServices{
    font-size: 32px;
  }
  .label{
    margin-top: 0;
  }
  .explanationColumn{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .sittersAdvantagesList li{
    font-size: 12px;
    padding:  5px;
    padding-right: 20px;
  }
  .ourSittersAdvantagesColumn{
    margin-left: calc(3%-5px);
  }

}

@media (min-width: 768px){
  .explanationColumn{
    display: grid;
    grid-template-columns:  1fr 1fr;}
}
