.header{
  font-size: 26px;
  margin-top: 80px;
}

.servicesForEveryDogAndCat{
  text-align:  center;
}
.iconServices{
  font-size: 42px;
  color: #00bd70;
  display: block;
  position: relative;
  top: -2px;
}
.iconDiv{
  width: 40px;
  margin-right: 18px;
}
.label{
  font-size: 16px;
  font-weight: 700;
}
.description{
  font-size: 16px;
  line-height: 25.6px;
  color: #66727c;
}
.descriptionColumn{
  width: 50%;  
  padding-left: 15px;
  padding-right: 15px;
}
.descriptionBlock{
  text-align: left;
}
.descriptionRow{
  display: flex;
  padding: 18px;
  line-height: 1.6;
}
