.form-holder {
	width: 100%;
	text-align: center;
	background-color: white;
	margin-bottom: 20px;
}

.h1 {
	margin: 0 0 20px;
}

.form-wrapper {
	width: 60%;
	margin: 0 auto;
}

.input-wrapper {
	position: relative;
	text-align: left;
	margin-bottom: 20px;
}

.checkboxes-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 0;
}

.box {
	width: calc(33% - 5px);
	text-align: center;
	position: relative;
}

.box:nth-child(-n+3) {
	margin-bottom: 20px;
}

.box-dog {
	width: calc(25% - 5px);
	text-align: center;
	position: relative;
}

.eye {
	border: none;
	outline: none;
	background-color: transparent;
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 12.5px 10px;
	cursor: pointer;
}

.label {
	display: block;
	margin-bottom: 5px;
}

.input {
	width: 100%;
	padding: 8px;
	min-height: 40px;
	border: 1px solid #cfd7de;
	border-radius: 4px;
}

.error {
	position: absolute;
	top: 100%;
	font-size: 14px;
	color: #e5281a;
}

.file-wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 14px;
    color: white;
	background-color: #14a96d;
	padding: 10px 16px;
	border: none;
	border-radius: 4px;
	display: inline-block;
	cursor: pointer;
}

.btn {
	width: 100%;
	background-color: #14a96d;
	color: white;
	padding: 10px 16px;
	border: none;
	border-radius: 4px;
	margin-bottom: 15px;
}

.info {
	margin: 0 auto;
	font-size: 12px;
	padding-bottom: 20px;
	border-bottom: 1px solid #cfd7de;
}

.have-account {
	font-size: 15px;
}

.input-file, .file {
	width: auto;
	max-width: 30%;
}

@media (min-width: 768px) {
	.form-holder {
		max-width: 700px;
		margin: 20px auto;
		padding: 30px;
	}

	.info {
		font-size: 14px;
	}

	.have-account {
		font-size: 16px;
	}
}