.loading {
	width: 100%;
	text-align: center;
}

.walkers-wrapper {
	width: 100%;
	padding: 10px;
}

.walker-flexbox {
	display: flex;
	justify-content: center;
	align-items: flex;
	padding-left: 10px;
	border-left: 3px solid gray;
	margin-bottom: 20px;
}

.walker-flexbox:hover {
	border-color: orange;
}

.avatar {
	width: 70px;
	height: 70px;
	margin-right: 10px;
}

.walker-info-wrapper {
	width: calc(100% - 70px);
	display: flex;
	justify-content: space-between;
	align-items: flex;
}

.h1 {
	font-size: 18px;
	margin: 0;
}

.name {
	color: #06748a;
}

.city {
	margin: 0;
	font-size: 14px;
}

.h2 {
	font-size: 14px;
	margin: 0;
	color: #777777;
}

.salary {
	margin: 0;
	font-weight: 700;
}