.info-change-form-holder {
	width: 100%;
	text-align: center;
	background-color: white;
	margin-bottom: 20px;
}

.h1 {
	font-size: 1.5em;
	margin: 0 0 20px;
}

.info-change-form-wrapper {
	width: 60%;
	margin: 0 auto;
}

.input-wrapper {
	position: relative;
	text-align: left;
	margin-bottom: 20px;
}

.label {
	display: block;
	margin-bottom: 5px;
}

.input {
	width: 100%;
	padding: 8px;
	min-height: 40px;
	border: 1px solid #cfd7de;
	border-radius: 4px;
}

.error {
	position: absolute;
	top: 100%;
	font-size: 14px;
	color: red;
}

.btn {
	width: 100%;
	background-color: #14a96d;
	color: white;
	padding: 10px 16px;
	border: none;
	border-radius: 4px;
	margin-bottom: 15px;
}