.datePickerField{
  display: flex;
  position: relative;
}
.dayColor-disabled {
  color: grey;
}
.datePicker {
  color: green;
  border: 1px solid #cfd7de;
  border-radius: 4px;
  font-size: 14px;
  width: calc(90%);
  font-family: FontAwesome;
  padding: 5px;
  height: 28px;
}
.arrow{
  color: rgb(207, 215, 222);
  display: block;
  font-size: 18px;
  height: 21.8182px;
  line-height: 22.4px;
  margin-right: 22px;
  margin-top: 15px;
}

.calcIcon {
    position: relative;
    z-index: 1;
    left: -25px;
    top: 5px;
    cursor:pointer;
    width: 0;
    font-size: calc(100%);
    color: #cfd7de;

}
.calcIcon{

}
.dayColor{
  color:  green;
  font-size: 14px;
}
.react-datepicker__day--disabled{
  color: grey;
}
