.progressLine {
      width: 100%;
      margin: 0 auto;
  }
  .progressbar {
      counter-reset: step;
  }
  .progressbar li {
      list-style-type: none;
      width: 33%;
      float: left;
      font-size: 14px;
      position: relative;
      text-align: center;
      color: #7d7d7d;

  }
  .fontAwesome{
    font-size: 50px;
    margin-bottom: 10px;
  }
  .progressbar li:before {
      width: 30px;
      height: 30px;
      content: counter(step);
      counter-increment: step;
      line-height: 30px;
      border: 2px solid #7d7d7d;
      display: block;
      text-align: center;
      margin: 0 auto 10px auto;
      border-radius: 50%;
      background-color: white;
  }
  .progressbar li:after {
      width: 100%;
      height: 2px;
      content: '';
      position: absolute;
      background-color: #7d7d7d;
      top: 15px;
      left: -50%;
      z-index: -1;
  }
  .progressbar li:first-child:after {
      content: none;
  }
  /* .progressbar li:hover {
      color: rgb(0, 189, 112);
  } */
  /* .progressbar li:hover:before {
      border-color: rgb(0, 189, 112);
  }
  .progressbar li:hover h3{
    color: black;
  } */
  /* .progressbar li:hover .fontAwesome {
    color: rgb(0, 189, 112);
  } */

  .progressbar li.active:before {
      content: "\f1b0";
      font-family: FontAwesome;
      color: #fff;
      font-size: 20px;
      background-color: rgb(0, 189, 112);
      border-color: rgb(0, 189, 112);
  }
.progressbar li.active + li:after {
      background-color: rgb(0, 189, 112);;
  }
  .progressbar li.active h3{
    color: black;
  }
  .progressbar li.active .fontAwesome {
    color: rgb(0, 189, 112);
  }

  @media (max-width: 768px){
    .progressbar li{
      font-size: 10px;
    }
    .fontAwesome{
      font-size: 30px;

    }
  }
