.header {
	width: 100%;
	background-color: white;
}

.header-content-wrapper {
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
}

.mobile-menu {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0 15px;
}

.mobile-menu li {
	margin: 10px 0;
	color: #66727c;
}

.mobile-menu li a {
	color: #66727c;
	text-decoration: none;
}

.mobile-menu-elem-wrapper {
	display: inline-block;
	text-align: center;
	width: 25px;
}

@media (min-width: 768px) {
	.header-content-wrapper {
		justify-content: start;
	}

	.mobile-menu {
		display: none;
	}
}