.search-wrapper {
	display: block;
}

.loading {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: flex-start;
}

@media (min-width: 769px) {
	.search-wrapper {
		display: flex;
	}
}
