.flexwrapper {
	display: flex;
	justify-content: center;
}

.walker {
	max-width: 1100px;
	margin: 0 auto 20px;
	background-color: white;
	padding: 20px;
}

.avatar-wrapper {
	text-align: center;
}

.avatar {
	width: 100px;
	height: 100px;
}

.info-wrapper {
	text-align: center;
}

.h1 {
	margin: 0;
	font-size: 30px;
}

.h2 {
	margin: 0;
	font-size: 20px;
}

.btn {
	background-color: #14a96d;
	color: white;
	padding: 10px 16px;
	border: none;
    border-radius: 4px;
    margin: 15px 0;
}

.services-wrapper {
	width: 90%;
	margin: 0 auto 20px;
	padding: 10px 20px;
	background-color: #f4f5f6;
	border-radius: 8px;
}

.h3 {
	margin: 0;
	font-size: 25px;
	color: gray;
}

.h4 {
	margin-bottom: 10px;
	font-size: 16px;
}

.description {
	margin: 0;
}

.salary {
	font-size: 25px;
	display: flex;
	justify-content: flex-end;
	margin: 0;
	font-weight: 700;
}

.size-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	margin: 0 auto;
}

@media (min-width: 768px) {
	.walker-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: 20px;
	}

	.avatar {
		width: 200px;
		height: 200px;
	}

	.info-wrapper {
		width: calc(100% - 220px);
		text-align: left;
	}

	.size-wrapper {
		justify-content: space-around;
	}
}