*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

#root {
	overflow: hidden;
}

@media (min-width: 768px) {
	body {
		background-color: #f1f1f1;
	}

	.content-wrapper {
		padding-top: 20px;
	}
}